<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.inventory.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.inventoryUI.AddCustomer" >
        </activity>
        <activity android:name="com.example.inventoryUI.CustomerUI" >
        </activity>
        <activity android:name="com.example.inventoryUI.DisplayAllCustomer" >
        </activity>
        <activity android:name="com.example.inventoryUI.ProductUI" >
        </activity>
        <activity android:name="com.example.inventoryUI.DisplayOneCustomer" >
        </activity>
        <activity android:name="com.example.inventoryUI.AddProduct" >
        </activity>
        <activity android:name="com.example.inventoryUI.DisplayAllProdcut" >
        </activity>
        <activity android:name="com.example.inventoryUI.CustomerSearch"></activity>
        <activity android:name="com.example.inventoryUI.SearchResult"> </activity>
        <activity android:name="com.example.inventoryUI.DeleteResult"> </activity>
      	<activity android:name="com.example.inventoryUI.AllDelete"> </activity>
      	<activity android:name="com.example.inventoryUI.DeleteCustomer"> </activity>
       <activity android:name="com.example.inventoryUI.SearchResultProduct"> </activity>
       <activity android:name="com.example.inventoryUI.ProductSearch"> </activity>
       <activity android:name="com.example.inventoryUI.EditProduct"> </activity>
       <activity android:name="com.example.inventoryUI.EditProductWithID"> </activity>
        <activity android:name="com.example.inventoryUI.MakeOrder"> </activity>
            <activity android:name="com.example.inventoryUI.DisplayOrder"> </activity>
   
    </application>

</manifest>